.border-b-white{
    border-bottom:1px solid white ;
}
.border-b-gray{
    border-bottom: 1xp solid #e3dede;
}
.text-dark{
    color: var(--text-dark-color) !important;
}
.text-primary{
    color: var(--primary-color) !important;
}
.fs-2{
    font-size: 2.2rem !important;
}
.w-10{
    width: 10%;
}
.cart{
    position: relative;
}
.cart-after{
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: absolute;
      background-color: var(--secondary-color);
      color: white;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top:-5px;
      right: -5px;
}
.w-30{
    width: 30%;
}
@media screen and (max-width: 992px) {
    .nav-sm{
      background-color: #eaeaea;
      border-radius: 10px;
      padding:0 10px;
  }  
}
.btn-outline-primary{
    border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover .text-primary{
    color: white !important; 
}
.nav-link{
    position: relative;
    background-image: linear-gradient(
        to right,
        var(--primary-color),
        var(--primary-color) 50%,
        var(--text-dark-color) 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: all 0.5s ease-in-out;
}
.nav-link:before {
    content: '';
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.5s ease-in-out;
  }
.nav-link:hover{
    background-position: 0;
}
.nav-link:hover::before {
   width: 100%;
}
.text-gray{
    color: #747474 !important;
}
.btn-outline-white{
    border: 1px solid white !important;
}
.menu-child{
    display: none;
    width: 200px;
    z-index: 100;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    top:105%;
    right: 1%;
    transition: 0.3s ease-in-out;
}
.menu-child::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    top:-5px;
    left: 85%;
    transform: rotate(45deg);
    z-index: -1;
}
.icon-user:hover .menu-child{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.link-child:hover{
   opacity: 0.4;
}
.bg-primary{
    background-color: var(--primary-color) !important;
}