.border-b-white{
    border-bottom:1px solid white ;
}
.border-b-gray{
    border-bottom: 1xp solid #e3dede;
}
.text-dark{
    color: var(--text-dark-color) !important;
}
.text-primary{
    color: var(--primary-color) !important;
}
.fs-2{
    font-size: 2.2rem !important;
}
.w-10{
    width: 10% !important;
}
.cart{
    position: relative;
}
.cart-after{
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: absolute;
      background-color: var(--secondary-color);
      color: white;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      top:-5px;
      right: -5px;
}
.w-30{
    width: 30%;
}
@media screen and (max-width: 992px) {
    .nav-sm{
      background-color: #eaeaea;
      border-radius: 10px;
      padding:0 10px;
  }  
}
.btn-outline-primary{
    border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover .text-primary{
    color: white !important; 
}
.header-link{
    position: relative;
    background-image: linear-gradient(
        to right,
        var(--primary-color),
        var(--primary-color) 50%,
        var(--text-dark-color) 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: all 0.5s ease-in-out;
}
.header-link:before {
    content: '';
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.5s ease-in-out;
  }
.header-link:hover{
    background-position: 0;
}
.header-link:hover::before {
   width: 100%;
}
.text-gray{
    color: #747474 !important;
}
.btn-outline-white{
    border: 1px solid white !important;
}
.menu-child{
    display: none;
    width: 200px;
    z-index: 1000;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    top:105%;
    right: 1%;
    transition: 0.3s ease-in-out;
}
.menu-child::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    top:-5px;
    left: 85%;
    transform: rotate(45deg);
    z-index: -1;
}
.icon-user:hover .menu-child{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.link-child:hover{
   opacity: 0.4;
}
.bg-primary{
    background-color: var(--primary-color) !important;
}
.address-header{
    top:100px;
}
.bg-white{
    background-color: white;
}
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}

.cart-wrap{
    animation: wiggle 2s linear 3;
}
@keyframes firework {
    0% { 
      transform: translate(-50%, 0);
      width: 0.5vmin;
      height: 1vh;
      opacity: 1;
    }
    50% { 
      width: 0.5vmin;
      height: 1vh;
      opacity: 1;
    }
    100% { 
      width: 15vmin; 
      height: 1vh;
      opacity: 0; 
      display: none;
    }
  }
.firework,
.firework::after,
.firework::before{
    --top: 60vh;
    content: "";
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:2vmin;
    height: 1vmin;
    aspect-ratio: 1;
    background: 
    radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 00%,
    radial-gradient(circle, rgb(255, 81, 0) 0.8vmin, #0000 0) 00% 50%,
    radial-gradient(circle, rgb(102, 255, 0) 0.75vmin, #0000 0) 50% 99%,
    radial-gradient(circle, rgb(0, 255, 179) 0.3vmin, #0000 0) 99% 50%,
    radial-gradient(circle, rgb(0, 102, 255) 0.9vmin, #0000 0) 80% 90%,
    radial-gradient(circle, rgb(76, 0, 255) 1vmin, #0000 0) 95% 90%,
    radial-gradient(circle, rgb(255, 0, 255) 0.6vmin, #0000 0) 10% 60%;
    background-size: 3vmin 3vmin;
    background-repeat: no-repeat;
    animation: firework 1.5s 3;
    z-index: -1;
}
.firework::before {
    transform: translate(-50%, -50%) rotate(45deg) !important; 
  }
  
  .firework::after {
    transform: translate(-50%, -50%) rotate(-45deg) !important;
  }