* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #676b84;
    --background-main: #f7faff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #f8dbdd;
    border-radius: 10px;
}

.wraper {
    width: 100%;
    height: auto;
    position: relative;
    padding-left: 320px;
    background-color: var(--background-main);
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    overflow: auto;
    left: 0;
    padding: 0 20px;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #f8dbdd;
    border-radius: 10px;
}

.logo {
    width: 90%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto;
}

.logo img {
    width: 100%;
}

.menu-item {
    width: 100%;
    height: auto;
}

.item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.img-user {
    width: 100%;
    height: 300px;
}

.img-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.active-menu {
    color: #3167eb !important;
}

.active-menu a {
    color: #3167eb !important;
}

.active-menu .material-symbols-outlined {
    color: #3167eb !important;
}

.item a {
    font-size: 15px;
    text-decoration: none;
    margin-left: 10px;
    color: var(--text-color);
    font-weight: 400;
    user-select: none;
    cursor: pointer;
}

.item span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item .material-symbols-outlined {
    font-size: 25px;
    color: var(--text-color);
    transition: .5s;
}

#opent-1:checked ~ .sub-menu,
#opent-2:checked ~ .sub-menu,
#opent-3:checked ~ .sub-menu,
#opent-4:checked ~ .sub-menu {
    display: block;
    transform: translateX(0%);
    height: auto;
    transition: .5s;
}

#opent-1:checked ~ .up,
#opent-2:checked ~ .up,
#opent-3:checked ~ .up,
#opent-4:checked ~ .up {
    transform: rotate(180deg);
}

.sub-menu {
    transform: translateX(-100%);
    width: 100%;
    height: 0px;
    flex: 1 0 100%;
    padding: 0 25px;
}

.sub-itme {
    list-style: none;
    margin: 20px 0px;
    color: var(--text-color);
    padding: 10px 0;
}

.box-main {
    width: 100%;
    height: 100vh;
    padding: 20px;
    overflow: auto;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.search-header {
    width: 50%;
    height: 60px;
    background: var(--background-main);
    border-radius: 30px;
    overflow: hidden;
}

.search-header form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    height: 100%;
    width: 20%;
    background-color: inherit;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 10px;
}

.search-header input {
    width: 80%;
    height: 100%;
    font-size: 15px;
    color: var(--text-color);
    border: none;
    outline: none;
    background: var(--background-main);
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-avatar::before {
    position: absolute;
    content: "";
    background-image: conic-gradient(#05d34e, #fff0, #fff0, #fff0);
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    animation: rotate2 reverse 2s infinite linear;
}

.bg-avatar::after {
    position: absolute;
    content: "";
    background-image: conic-gradient(#05d34e, #fff0, #fff0, #fff0);
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    transform: rotate(180deg);
    animation: rotate1 reverse 2s infinite linear;
}

@keyframes rotate1 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(540deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg-avatar {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.avatar img {
    width: 90%;
    height: 90%;
    border-radius: inherit;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.avatar:hover .popup-admin {
    transform: translateY(0px);
    z-index: 1;
    opacity: 1;
}

.popup-admin {
    transition: .25s;
    transform: translateY(50px);
    z-index: -1;
    opacity: 0;
    position: absolute;
    background-color: #4d4f5c;
    width: 200px;
    height: auto;
    right: 0;
    top: 100%;
    border-radius: 5px;
    padding: 20px;
}

.popup-admin::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    right: 20px;
    border-bottom: 10px solid #4d4f5c;
    border-right: 10px solid rgba(255, 255, 255, 0);
    border-top: 10px solid rgba(255, 255, 255, 0);
    border-left: 10px solid rgba(255, 255, 255, 0);
}

.username {
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.popup-admin a {
    text-decoration: none;
    display: block;
    color: #fff;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.popup-admin a:hover {
    text-decoration: underline;
    color: #4d4dba;
}

.box-table {
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 30px 80px 30px;
}

.tabel-form {
}

.table-main {
    width: 100%;
    height: auto;
    color: var(--text-color);
}

.table-main tr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #676b84;
}

.table-main td {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-main tr td:first-child {
    padding-left: 50px;
}

.table-main td a {
    text-decoration: none;
}

.table-main img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.table-main button {
    padding: 8px 15px;
    border: 1px solid #05d34e;
    background-color: #05d34e;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
    margin-left: 10px;
}

.table-main .btn2 {
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-main .btn2:hover,
.table-main .btn-2:hover,
.btn-delete:hover {
    color: red !important;
    background: #fff !important;
}

.table-main .btn-2 {
    background: red;
    border: 1px solid red;
}

.table-main button:hover {
    background-color: #fff;
    color: #05d34e;
}

.action {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.action button,
.action select {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #05d34e;
    background-color: #05d34e;
    color: #fff;
    cursor: pointer;
    transition: .25s;
}

.table-main tbody td select {
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #3b76ef;
    background-color: #3b76ef;
    color: #fff;
    cursor: pointer;
    transition: .25s;
}

.action button:hover {
    background-color: #fff;
    color: #05d34e;
}

.title {
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 20px;
}

/* css detail order */

.box-detail-order {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 50px;
    border-radius: 8px;
    padding: 30px;
    position: relative;
}

.sub-detail-order {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.info-clident {
    height: auto;
    width: 45%;
}

.info-clident p {
    font-size: 20px;
    margin: 10px 0px;
}

.name-clident {
}

.phone {
}

.address {
}

.btn-status {
    width: 100%;
    height: 100px;
    padding-top: 30px;
}

.btn-status label {
    padding: 10px 20px;
    border: 1px solid #05d34e;
    color: #05d34e;
    margin-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#check1:checked + label,
#check2:checked + label,
#check3:checked + label {
    background-color: #05d34e;
    color: #fff;
}

.info-clident > form > button {
    padding: 10px 20px;
    background-color: #4d4dba;
    margin-right: 15px;
    border: 1px solid #4d4dba;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.list-product-order {
    width: 55%;
    height: 400px;
    overflow: auto;
    padding-right: 20px;
}

.list-product-order::-webkit-scrollbar {
    width: 5px;
}

.item-order-product {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--background-main);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.item-left {
    width: 35%;
    height: 100%;
}

.item-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.item-right {
    width: 65%;
    padding-left: 20px;
}

.name-product-order {
    margin-bottom: 10px;
}

.name-product-order span {
    color: var(--text-color);
    font-weight: bold;
}

.quantity-porduct-order span {
    color: var(--text-color);
}

.total-price {
    font-weight: bold;
}

.pagination {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: right;
}

.pagination a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.pagination-left,
.pagination-right {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.material-symbols-outlined {
}

.box-pagination {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.pagination-item.active {
    background-color: #3b76ef;
}

.pagination-item.active a {
    color: #fff;
}

/* css form thêm sản phẩm */

.form-add-product {
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.form-add-product form {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.row-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.row-left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    color: var(--text-color);
}

.row-rigth {
    height: 100%;
    width: 60%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}

.row-rigth p {
    display: block;
    width: 100%;
}

.row-rigth input[type="file"] {
    position: absolute;
    top: -100000px;
    left: -100000px;
}

.wrapper-img {
    width: 33.33%;
    height: 100px;
    border: 1px solid #05d34e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.form-add-product form input,
.form-add-product form select {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid #05d34e;
    outline-color: #05d34e;
}

.form-add-product form textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #05d34e;
    outline-color: #05d34e;
}

.form-add-product button {
    padding: 10px 20px;
    background-color: #05d34e;
    color: #fff;
    border: 1px solid #05d34e;
    border-radius: 8px;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: .25s;
    cursor: pointer;
}

.form-add-product button:hover {
    background-color: #fff;
    color: #05d34e;
}

/*css detail category*/
.box-detail-category {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-detail-category .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

}

.box-detail-category .right {
    width: 50%;
    height: 100%;
}

.box-detail-category .left p {
    font-size: 20px;
}

.box-detail-category .left p span {
    font-weight: bold;
    color: #3b76ef;
}

.box-detail-category .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #3b76ef;
}

select:disabled,
button:disabled {
    background: #cccc;
    border: 1px solid #cccc;
    cursor: not-allowed;
}

button:disabled:hover {
    background: #ccc;
    color: #fff;
    user-focus: not-allowed !important;
}

.mai-slider {
    width: 100%;
    height: 400px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide > p {
    position: absolute;
    bottom: 60px;
    color: #fff;
}

.title-slider,
.desc-slider {
    display: block;
    text-align: center;
    width: 400px;
    height: 30px;
    font-size: 20px;
    background: rgba(255,255,255,0);
    border: none;
    color: #ffff;
    outline: none;
}

.material-symbols-outlined.add {
    font-size: 80px;
    position: absolute;
    color: #ffff;
    display: none;

}
.slider-form>a{
    text-decoration: none;
}
.slider-form button {
    padding: 10px 20px;
    margin-right: 20px;
    background: #05d34e;
    color: #fff;
    border: 1px solid #05d34e;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s;
    margin-bottom: 20px;
}
.btn-add button{
    padding: 10px 20px;
    background: #05d34e;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.slider-form button:hover {
    color: #05d34e;
    background: #fff;
}

.slider-form button:disabled{
    background: #cccc;
    border: 1px solid #cccc;
    cursor: not-allowed;
}
.delete-slider{
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    border-bottom-left-radius: 10px;
    padding: 10px;
    display: none;
}
.delete-slider span{
    font-size: 50px;
    color: #ffff;
}
.title-yellow::after{
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(219, 227, 0);
    left: -45px;
  }
.title-green::after{
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 3rem;
    border-radius: 5px;
    background-color: rgb(0, 227, 117);
    left: -45px;
  }