.py-6{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.w-5{
    width: 5%;
}
.w-10{
    width: 10%;
}
.w-30{
    width: 30%;
}
.h-5{
    height: 5%;
}
.h-10{
    height: 10%;
}
.text-dark{
    color: var(--text-dark-color);
}
.text-primary{
    color: var(--primary-color) !important;
}
.fs-2{
    font-size: 2.2rem !important;
}
.nav-link{
    position: relative;
    background-image: linear-gradient(
        to right,
        var(--primary-color),
        var(--primary-color) 50%,
        var(--text-dark-color) 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: all 0.5s ease-in-out;
}
.nav-link:before {
    content: '';
    background: var(--primary-color);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.5s ease-in-out;
  }
.nav-link:hover{
    background-position: 0;
}
.nav-link:hover::before {
   width: 100%;
}
.btn-outline-primary{
    border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-outline-primary:hover .text-primary{
    color: white !important; 
}
.cart{
  position: relative;
}
.img-slide{
    object-fit: cover;
}
.cart-after{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    background-color: var(--secondary-color);
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top:-5px;
    right: -5px;
}
.bg-dark{
    background-color: var(--text-dark-color) !important;
}
.link-hover{
    position: relative;
}
.link-hover::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  left: 0;
  bottom: 0;
  transition: 0.3s ease-in-out;
}
.link-hover:hover::before{
    width: 100%;
}
.w-20{
    width: 20%;
}
.icon-wrapper:hover{
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
}
.icon-wrapper:hover .icon-contact{
  animation: round-icon 0.5s 1;
}
@keyframes round-icon {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes shadow-white {
    0%{

    }
}
.icon-wrapper +.icon-wrapper{
    margin-left: 20px;
}
.border-white{
    border: 1px solid white;
}
.border-b-white{
    border-bottom:1px solid white ;
}
.text-gray{
    color: #747474;
}
.btn-outline-white{
  border: 1px solid white;
}
.w-70{
    width: 70%;
}
.bg-black{
    background-color: black;
}
.bg-overlay-dark{
    background-color: rgb(0,0,0,0.6);
}
.bg-secondary{
    background-color: var(--secondary-color) !important;
}
.img-fit{
    object-fit: cover;
}
.carousel-size{
    height: 400px;
}
@media screen and (max-width: 992px) {
    .carousel-size{
      height: 250px;
  }  
  }
.bg-primary{
    background-color: var(--primary-color) !important;
}
.text-orange{
    color: #fdb785;
}
@media screen and (max-width: 992px) {
  .nav-sm{
    background-color: #eaeaea;
    border-radius: 10px;
    padding:0 10px;
}  
}
.border-b-gray{
    border-bottom: 1xp solid #e3dede;
}
.title-line{
    position: relative;
    letter-spacing: 2px;
}
.title-line::before{
    content: "";
  position: absolute;
  height: 2px;
  background-color: #cdcdcd;
  width: 100%;
  top : 70%;
  margin-left: 10px;
}
.img-col{
    height: 200px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.img-col:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 992px) {
    .img-col{
     height: 150px;
  }  
}
.rounded-6{
    border-radius: 15px;
}
.rounded-top-6{
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
}
.btn-prev{
    margin-left: 11% !important;
}
.mh-50{
    max-height: 50px !important;
}
.mw-50{
    max-width: 50% !important;
}
.product{
    max-height: 300px;
}
/*css pagination*/

.pagination {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.pagination-left,
.pagination-right {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.material-symbols-outlined {}

.box-pagination {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.pagination-item.active {
    background-color: #3b76ef;
}

.pagination-item.active a {
    color: #fff;
}