<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>My Page Title</title>
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/base.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="https://kit.fontawesome.com/93843dfad1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <footer class="text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-4 col-xl-3">
                        <h5>DANH MỤC MÓN ĂN</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                          <li><a href="">Ưu Đãi</a></li>
                          <li><a href="">Món Mới</a></li>
                          <li><a href="">Combo 1 Người</a></li>
                          <li><a href="">Combo Nhóm</a></li>
                          <li><a href="">Gà Rán - Gà Quay</a></li>
                      </ul>
                    </div>
    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                        <h5>VỀ KFC</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                          <li><a href="">Câu Chuyện Của Chúng Tôi</a></li>
                          <li><a href="">Tin Khuyến Mãi</a></li>
                          <li><a href="">Tin tức KFC</a></li>
                          <li><a href="">Tuyển dụng</a></li>
                          <li><a href="">Đặt tiệc Sinh nhật</a></li>
                      </ul>
                    </div>
    
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                        <h5>LIÊN HỆ KFC</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                            <li><a href="">Theo dõi đơn hàng</a></li>
                            <li><a href="">Hệ Thống Nhà Hàng</a></li>
                            <li><a href="">Liên hệ KFC</a></li>
                        </ul>
                    </div>
    
                    <div class="col-md-3 col-lg-3 col-xl-3">
                        <h5>CHÍNH SÁCH</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                          <li><a href="">Chính sách hoạt động</a></li>
                          <li><a href="">Chính sách và quy định</a></li>
                          <li><a href="">Chính sách bảo mật thông tin</a></li>
                      </ul>
                    </div>
                                     
                </div>
                <p class="name">Copyright © 2022 KFC Vietnam</p>
                <hr color="white">
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <p class="congty">CÔNG TY LIÊN DOANH TNHH KFC VIỆT NAM</p>
                    <p class="n">Số 292 Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, TP. Hà Nội. <br>
                      Điện thoại: (028) 38489828 <br>
                      Mã số thuế: 0100773885 <br>
                      Ngày cấp: 29/10/1998 - Nơi cấp: Cục Thuế Thành Phố Hà Nộ
                    </p>
                  </div>
                  <div class="col-lg-6">
                    <img class="cap" src="https://kfcvn-static.cognizantorderserv.com/images/email/logo_footer.png" alt="">
                  </div>
                </div>
                <div class="col-12 copyright mt-3">
                  <p class="float-left">
                      <a href="#">Về đầu trang</a>
                  </p>
              </div>
            </div>
            
            
        </footer>
  
          <!--Optional JavaScript-->
          <!--jQuery first, then Popper.js, then Bootstrap JS-->
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      </body>
  </html>